<a href="https://colab.research.google.com/github/Kitagawa-Mariin/HenryPark_Python/blob/Python_Learning/SP24_Python_Learning_4_Tuple%26Set%26Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#지난주 복습

## List

리스트는 사물함과 같은 구조! 원하는 곳에 원하는 것을 넣어서 저장한다.

In [ ]:
list1 = [0,1,2,3] # <- 이렇게 대괄호에 원하는 값을 집어넣으면 된다

In [ ]:
# 루프를 돌릴 수 있다

for i in list1:
  print(i)

# same to

for i in range(len(list1)):
  print(list1[i])

0
1
2
3
0
1
2
3

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

print(a[3:])

print(a[:6])

# 리스트 안에 있는 element들을 원하는 간격맏 건너 뛰면서 수 access 할 수 있습니다
print(a[0:10:2])

# 리스트 안에 있는 element들의 순서를 뒤집을 수 있습니다
print(a[::-1])

[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
grocery = ['apple', 'banana','kiwi']

#1
if 'apple' in grocery:
  print("Yes")
else:
  print("No")

#2

if 'pineapple' not in grocery:
    print("Yes")
else:
    print("No")

Yes
Yes

In [ ]:

# 두 리스트를 붙이기
a = [1,2,3,4]
b = [5,6,7,8]
print(a + b)

print(a * 2)
print(a + a)

print(a * 0)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]
[]

In [ ]:
CS_course = []

# 'cs125', 'cs173', 'cs225' 를 CS_course 리스트에 넣는 법
CS_course.append('cs125')
CS_course.append('cs173')
CS_course.append('cs225')

print(CS_course)

# cs125를 기존 리스트에서 빼고 'cs125', 'cs128'을 추가하기
CS_course.remove('cs125')
CS_course = ['cs124', 'cs128'] + CS_course

print(CS_course)

# 리스트의 마지막 element를 지우고 싶을땐 pop을 사용한다
last_element = CS_course.pop()
print("Removed element:", last_element)
print("Modified CS_course:", CS_course)

['cs125', 'cs173', 'cs225']
['cs124', 'cs128', 'cs173', 'cs225']
Removed element: cs225
Modified CS_course: ['cs124', 'cs128', 'cs173']

In [ ]:
sentence = "Hello my name.is.John.I am UIUC student"
words = sentence.split('.')
print(words)

['Hello my name', 'is', 'John', 'I am UIUC student']

###🎯 Challenge 1

이 리스트에서 문자열의 길이가 8을 넘어가는 것 들을 새로운 리스트에 저장하시오.

In [ ]:
word_list = ["clue", "regard", "battery", "observation", "news", "peasant", "alcohol", "hang", "raise", "bitter", "desert", "accumulation"
,"essential", "rainbow", "base", "fresh", "unfair", "soup", "economic", "piano", "different", "mercy", "physics", "drink", "tumour"
,"spontaneous", "sector", "inappropriate", "development", "investment", "child", "sight", "enhance", "blonde", "dine", "fairy"
,"rocket", "gradual", "subject", "offense", "waste", "branch", "necklace", "neighborhood", "failure", "behavior", "anger", "host"
,"solution", "scrap"]

# 코드 시작
new_list = [ ]
for i in range(len(word_list)):
  if len(word_list[i]) > 8:
    new_list.append(word_list[i])

print(new_list)

['observation', 'accumulation', 'essential', 'different', 'spontaneous', 'inappropriate', 'development', 'investment', 'neighborhood']

###🎯 Challenge 2

다음은 이 리스트에서 각 엘레멘트의 길이가 짝수인지 홀수인지 구별을 한 다음, 짝수인 애들은 짝수들끼리, 홀수들은 홀수들끼리 리스트에 저장하시오

In [ ]:
word_list = ["clue", "regard", "battery", "observation", "news", "peasant", "alcohol", "hang", "raise", "bitter", "desert", "accumulation"
,"essential", "rainbow", "base", "fresh", "unfair", "soup", "economic", "piano", "different", "mercy", "physics", "drink", "tumour"
,"spontaneous", "sector", "inappropriate", "development", "investment", "child", "sight", "enhance", "blonde", "dine", "fairy"
,"rocket", "gradual", "subject", "offense", "waste", "branch", "necklace", "neighborhood", "failure", "behavior", "anger", "host"
,"solution", "scrap"]

# 코드 시작
odd = [ ]
even = [ ]
for i in range(len(word_list)):
  if len(word_list[i]) % 2 == 0:
    even.append(word_list[i])
  elif len(word_list[i]) % 2 == 1:
    odd.append(word_list[i])
print(odd)
print(even)

['battery', 'observation', 'peasant', 'alcohol', 'raise', 'essential', 'rainbow', 'fresh', 'piano', 'different', 'mercy', 'physics', 'drink', 'spontaneous', 'inappropriate', 'development', 'child', 'sight', 'enhance', 'fairy', 'gradual', 'subject', 'offense', 'waste', 'failure', 'anger', 'scrap']
['clue', 'regard', 'news', 'hang', 'bitter', 'desert', 'accumulation', 'base', 'unfair', 'soup', 'economic', 'tumour', 'sector', 'investment', 'blonde', 'dine', 'rocket', 'branch', 'necklace', 'neighborhood', 'behavior', 'host', 'solution']

###🎯 Challenge 3

리스트의 두 번째 자리와 세 번째 자리를 바꾸시오

In [ ]:
list1 = [1,2,3,4]
second = 0
third = 0
# YOUR CODE HERE #

# END OF CODE #

print(list1)

[1, 2, 3, 4]

# Tuple

리스트와 비슷한 자료형
* 다른점:
  한 번 initialized가 되면 변경이 불가하다
  
  즉 tuple은 immutable 하고, list은 mutable하다

* 튜플은 지정석과 같다 -> 한 번 지정 된 좌석은 변경 불가한 것과 같이, 튜플은 생성 후, 그 안의 데이터들을 바꾸지 못 한다.


example tuple usage

tuple = (1,2,3)

In [ ]:
test_list = [1,2,3,4,5] #리스트
test_tuple = (1,2,3,4,5) #튜플

print(type(test_list))
print(type(test_tuple))

<class 'list'>
<class 'tuple'>

In [ ]:
#리스트와 비슷하게 인덱스로 element들을 접근 할 수 있습니다.
print("test_list의 0th index element",test_list[0])
print("test_tuple 0th index element",test_tuple[0])

#len() 함수
print("test_list의 길이",len(test_list))
print("test_tuple의 길이",len(test_tuple))

test_list[0] = 1 #리스트 안에 0th 인덱스에 있는 값을 1로 변경
test_tuple[0] = 1 #튜플 안에 0th 인덱스에 있는 값을 1로 변경

test_list의 0th index element 1
test_tuple 0th index element 1
test_list의 길이 5
test_tuple의 길이 5

TypeError: 'tuple' object does not support item assignment

String은 파이썬에서 리스트의 형태를 가지고 있다. 따라서 string에도 리스트의 함수들이나, 루프를 쓸 수 있다.

In [ ]:
word = 'Hi my name is Hangoo Kang'

word2 = word[::-1]
print(f"word2 = {word2}")

word3 = word[0:5]
print(f"word3 = {word3}")

for i in word:
  print(i)

word2 = gnaK oognaH si eman ym iH
word3 = Hi my
H
i

m
y

n
a
m
e

i
s

H
a
n
g
o
o

K
a
n
g

# Set & Dictionary

## Set

리스트는 사물함, 튜플은 지정석이라 생각하면, 셑은 짐 보따리라 생각하면 된다.

Set은 인덱스가 없으며, 세트 안에 어떤 엘레멘트가 있는지 알 수 있다.

Set 특징


*   No duplicate
*   No index

사용 예시:


*   출석체크: 학생이 교실에 들어왔는지 확인할 때
*   할 일 체크: 오늘 하루 해야 할 일 저장할 때

이와같이 "몇 번" 했는지는 알 필요 없이, 존재 하는지에 대한 정보만 필요할 때 Set을 쓴다

set_name = {elements}

In [ ]:
# Set initialization

attend = {'hanook2', 'someone123', 'hello3'}

for i in range(3):
  uid = input("plug in your uid for attendance ")
  if uid not in attend:
    attend.add(uid)

for i in attend:
  print(i)

plug in your uid for attendance
plug in your uid for attendance
plug in your uid for attendance

hanook2
hello3
someone123

### Concatenation

In [ ]:
# when we want to add two sets

more_students = {'a1','a2','a3'}

# Use update

attend.update(more_students)
print(attend)

{'', 'a1', 'hello3', 'someone123', 'hanook2', 'a2', 'a3'}

In [ ]:
# list도 추가할 수 있습니다

more_and_more = ['b1','b2']

attend.update(more_and_more)
print(attend)

{'', 'a2', 'b1', 'a1', 'hello3', 'someone123', 'a3', 'hanook2', 'b2'}

In [ ]:
# add를 쓰면 어떻게 되나요?

example = ['c1','c2']

attend.add(example)
print(attend)

TypeError: unhashable type: 'list'

### Remove

In [ ]:
# 특정 값을 지우고 싶을 경우엔 remove를 활용하면 됩니다.

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

리스트와 같이 pop을 써서 마지막 엘레멘트를 지울 수 있습니다.

In [ ]:
element = attend.pop()

print(element)

print(attend)

{'a2', 'b1', 'a1', 'hello3', 'someone123', 'a3', 'hanook2', 'b2'}

만약 set자체를 비우고 싶은 경우 clear를 쓰면 됩니다.

In [ ]:
attend.clear()

In [ ]:
print(attend)

set()

## Dictionary (also called map in other languages)

dictionary는 말 그대로 사전같은 자료구조체다.

단어 : 뜻 의 느낌으로

key : value의 형태를 가지고 있다. 따라서 특정 key의 값이 value가 되는 것이다.

사용 예시:



*   마트에서 장 볼때 어떤 재료를 몇 개씩 샀는지 저장하기 위하여
*   uid와 uin을 저장하기 위하여
*   전에 말했다시피, 게임에선 특정 유저 아이디와 그에 상응하는 직업이나 특징들을 저장하기 위하여 등등

In [ ]:
person = {
  "Sonny": 134526785,
  "Kane": 89898632,
  "Hi": 25747645
}

아니면 나중에 추가적으로 값을 넣을 수 있다

dictionary_name['element_name'] = element value

In [ ]:
person['hangook2'] = 1234567

person['hello1'] = 1021333

print(person)

{'Sonny': 134526785, 'Kane': 89898632, 'Hi': 25747645, 'hangook2': 1234567, 'hello1': 1021333}



여기서 특정 값을 찾고 싶은 경우,

dictionary_name.get(key) 혹은 그냥 dictionary_name[key]를 하면 된다

In [ ]:
print(person['hangook2'])

print(person.get('hangook2'))

1234567
1234567

### Remove

dictionary에서 어떤 값을 지우기 위하여 dictionary_name.pop(key)를 하면 된다

In [ ]:
person.pop('Kane')

print(person)

{'Sonny': 134526785, 'Hi': 25747645, 'hangook2': 1234567, 'hello1': 1021333}

### Loop (by value, by key, by items)


dictionary는 key와 value의 조합으로 존재한다. 따라서 딕셔너리를 루프 돌릴 때는


키 값으로만 루프를 돌릴지,

벨류 값으로만 돌릴 것인지,

아니면 둘이 한 쌍으로 돌릴 것인지 정할 수 있다.

In [ ]:
# loop through values

for val in person.values():
  print(val)


print()


# loop through keys

for key in person.keys():
  print(key)

print()

# loop through items

for key, val in person.items():
  print(key, val)

134526785
25747645
1234567
1021333

Sonny
Hi
hangook2
hello1

Sonny 134526785
Hi 25747645
hangook2 1234567
hello1 1021333

item같은 경우엔 key와 value를 한 쌍으로 돌리는 것이기에, 저런 식으로 활용이 가능하다.

또, key로 루프 돌리는 것, value로 루프 돌리는 것 또한 서로의 값을 출력할 수 있다.

In [ ]:

# loop through key but print value linked

for key in person.keys():
  print(f"the value for {key} is: {person.get(key)}")

the value for Sonny is: 134526785
the value for Hi is: 25747645
the value for hangook2 is: 1234567
the value for hello1 is: 1021333

추가적으로 딕셔너리에 어떤 key가 존재하는지 알아보는 방법은 in을 쓰는 겁니다. 또한, 없을 경우를 다루는 것은 not in으로 하면 됩니다.

In [ ]:
if 'gugucone123' not in person.keys():
  print("the given key is not in the dictionary")
  person['gugucone123'] = 11223344

print(person)

the given key is not in the dictionary
{'Sonny': 134526785, 'Hi': 25747645, 'hangook2': 1234567, 'hello1': 1021333, 'gugucone123': 11223344}

### 문제1

당신은 cs 100의 TA이다. 이 수업의 규칙은 다음과 같다: 수업 중에 절대 교실을 벗어나지 마시오.

만약 당신에게 학생들의 netID로 채워진 리스트가 주어질 때, 교실을 두 번 이상 왔다 갔다 한 학생들을 구하시오. (학생이 교실 문을 지날 때마다 netID가 저장 됩니다.)

In [ ]:
netid = ['hangook2', 'chuchuman12', 'mansnothot3','abcd12', 'cdef23', 'people1', 'people2','people3', 'hangao2', 'kang10', 'palworld3', 'lol22','kingkong0', 'hangook2', 'chuchuman12']
# 추가적인 실험을 위하여 엘레멘트를 더 추가하시는 것을 추천드립니다.
#1
a = set()
for i in range(len(netid)):
  for j in range(i + 1,len(netid)):
    if netid[i] == netid[j]:
      a.add(netid[i])

print(a)
#2
set_name = set()
for i in netid:
  if i not in set_name:
    set_name.add(i)
  else:
    print(i)
#3
dict_name = {}
for i in netid:
  if i not in dict_name:
    dict_name[i] = 1
  else:
    dict_name[i] += 1

for i in dict_name.keys():
  if dict_name[i] > 1:
    print(i)
#netID 추가를 하시고 싶으신 분들을 위하여

for i in range(3):
  new_id = input("추가로 넣을 netID를 적으시오:")
  netid.append(new_id)

{'hangook2', 'chuchuman12'}
hangook2
chuchuman12
hangook2
chuchuman12
추가로 넣을 netID를 적으시오:
추가로 넣을 netID를 적으시오:
추가로 넣을 netID를 적으시오:

### 문제2

아무 랜덤한 문자열이 주어졌을 때, 그 문자열에서 두 번 이상 나오는 문자를 찾아 리스트에 저장하시오. 그 후 리스트를 출력하시오.


만약 모든 문자가 다 한 번씩만 있을 경우엔 "겹치는 문자 없음"을 출력하시오.

예시:

* hangoo -> o
* mimiminu -> m,i
* functio -> 겹치는 문자 없음

In [ ]:
word = input("아무 글이나 넣으시오: ")
b = set()
c = set()
for i in word:
  if i not in b:
    b.add(i)
  else:
    c.add(i)
if len(c) == 0:
  print('겹치는 문자 없음')
else:print(c)

아무 글이나 넣으시오:
겹치는 문자 없음

### 문제 3

두 리스트가 주어졌을 때, 그 두 리스트가 정확히 똑같은 엘레멘트를 공유하는지 알아보시오.

조건: 각 리스트의 모든 element는 unique하다. 즉 같은 리스트에 같은 엘레멘트가 두개 이상 존재하면 안 된다.

조건2: 순서는 상관 없으며 그냥 둘의 엘레멘트가 모두 겹치는지 알아보면 된다.

In [ ]:
a = ['a','b','c','d']
b = ['a','b','c','d']

compare = set()
if len(a) == len(b):
  compare.update(a)
  compare.update(b)
  if len(compare) != a:
    print("yes")
  else:
    print("not match")

yes

### 문제 4

두 세트가 주어질 경우, 두 세트의 교집합을 찾으시오. 즉 두 세트의 차이를 구하시오. 만약 겹치는 element가 없을 경우

"앗 겹치는 것이 없네용"을 출력하시오.

예시: {1,2,3,4} and {2,3,4,5} -> {2,3,4}

In [ ]:
a = {1,3,4}
b = {1,2,3,4,5,6}
overlap = set()

for i in a:
  if i in b:
    overlap.add(i)

print(overlap)

{1, 3, 4}

### 문제 5

당신은 cs 100 TA로서, 더 이상 학생들이 방에서 들락날락하지 않았으면 좋겠다고 생각하게 된다. 따라서 규칙을 이렇게 바꿨다.

만약 반에서 3명 이상 들락날락했을 경우, 반 전체가 패널티를 받는다.

netID가 담긴 리스트가 주어졌을 경우, 반 전체가 패널티를 받아야 할지 말아야 할지 정하는 프로그램을 구현하시오.

In [ ]:
netid = ['hangook2', 'chuchuman12', 'mansnothot3','abcd12', 'cdef23', 'people1', 'people2','people3', 'hangao2', 'kang10', 'palworld3', 'lol22','kingkong0', 'hangook2', 'chuchuman12']

# 추가적인 실험을 위하여 엘레멘트를 더 추가하시는 것을 추천드립니다.


#netID 추가를 하시고 싶으신 분들을 위하여

for i in range(3):
  new_id = input("추가로 넣을 netID를 적으시오: ")
  netid.append(new_id)
a = set()
b = set()
for i in netid:
  if i not in a:
    a.add(i)
  else:
    b.add(i)
if len(b) >= 3:
  print(b)
  print('penalty')

추가로 넣을 netID를 적으시오:
추가로 넣을 netID를 적으시오:
추가로 넣을 netID를 적으시오:
{'', 'hangook2', 'chuchuman12'}
penalty

### 문제6:
Create a function lookupDefault(dict,item,default) that returns dict[item] if item is in the dictionary. If it is not, return default. The parameter default itself should have a default value of None.

Example: if d == { 'x': 10, 'y': 20} then lookupDefault(d,'x') will return 10 and lookupDefault(d,'z',0) will return 0.

###문제7:

Write a function largestSalary that takes a dictionary where the keys are employee names and the values are employee information dictionaries. These dictionaries have keys salary, title, and years. It will return the name of the employee with the largest salary.

For example, a dictionary might look like:

d = { 'Frodo': { 'title': 'Ring Bearer', 'salary': 120000, 'years': 2},
      'Gandalf': { 'title': "Wizard", 'salary': 420000, 'years': 3000 },
      'Gollum': { 'title': "Pest", 'salary': 0, 'years': 120}}
Calling largestSalary(d) should return Gandalf.

Your code snippet should define the following variables:

### 문제8:

Create a function load that opens a provided filename and creates a dictionary from it.

The file will have key and data, along with other lines. It will look something like this:

Here is the data!

x,10
y,20
x,5

And some more data!

a,10
b,20
b,30
Your function should create a dictionary like { 'x': 15, 'y': 20, 'a': 10, 'b': 50}.

If a key ocours more than once, sum up the values.

The tests will let you develop your function incrementally:

Test 1 has files with only data lines and no repeats.
Test 2 has extra lines in it that you will need to filter out, but no repeats.
Test 3 has repeated keys and extra lines.
Some hints:

The lines with data have a comma, and the non-data lines are guaranteed not to have a comma.
If you call split(',') on a line without a comma, what happens?
Your code snippet should define the following variables: