<a href="https://colab.research.google.com/github/Kitagawa-Mariin/HenryPark_Python/blob/Python_Learning/SP24_Python_Learning_5_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 지난 주 복습 + 숙제 타임

Warm Up
$$ $$
Create a new dictionary variable named UIUC.

 The UIUC dictionary should have the following three Key-Pair values.

- Key Major should have the values ["CS", "ECE", "MATH"].
- Key Class should have the values ["CS101", "CS124","ECE110", "ECE120", "MATH241", "Math257"].
- Key Year should have the values [2024, 2025, 2026, 2027] (all int type).

In [ ]:
UIUC = {
    "Major": ["CS", "ECE", "MATH"],
    "Class": ["CS101", "CS124","ECE110", "ECE120", "MATH241", "Math257"],
    "Year": [2024, 2025, 2026, 2027]
}
print(UIUC)
for keys in UIUC.keys():
  print(keys)

for values in UIUC.values():
  print(values)

for key, val in UIUC.items():
  print(key, val)

{'Major': ['CS', 'ECE', 'MATH'], 'Class': ['CS101', 'CS124', 'ECE110', 'ECE120', 'MATH241', 'Math257'], 'Year': [2024, 2025, 2026, 2027]}
Major
Class
Year
['CS', 'ECE', 'MATH']
['CS101', 'CS124', 'ECE110', 'ECE120', 'MATH241', 'Math257']
[2024, 2025, 2026, 2027]
Major ['CS', 'ECE', 'MATH']
Class ['CS101', 'CS124', 'ECE110', 'ECE120', 'MATH241', 'Math257']
Year [2024, 2025, 2026, 2027]

### 지난 숙제 문제 4

두 세트가 주어질 경우, 두 세트의 교집합을 찾으시오. 즉 두 세트의 차이를 구하시오. 만약 겹치는 element가 없을 경우

"앗 겹치는 것이 없네용"을 출력하시오.

예시: {1,2,3,4} and {2,3,4,5} -> {2,3,4}

In [ ]:
a = {1,3,4}
b = {1,2,3,4,5,6}
overlap = set()

for i in a:
  if i in b:
    overlap.add(i)
if len(overlap) > 0:
  print(overlap)
else:
  print('앗 겹치는 것이 없네용')

### 지난 숙제 문제 5

당신은 cs 100 TA로서, 더 이상 학생들이 방에서 들락날락하지 않았으면 좋겠다고 생각하게 된다. 따라서 규칙을 이렇게 바꿨다.

만약 반에서 3명 이상 들락날락했을 경우, 반 전체가 패널티를 받는다.

netID가 담긴 리스트가 주어졌을 경우, 반 전체가 패널티를 받아야 할지 말아야 할지 정하는 프로그램을 구현하시오.

In [ ]:
netid = ['hangook2', 'chuchuman12', 'mansnothot3','abcd12', 'cdef23', 'people1', 'people2','people3', 'hangao2', 'kang10', 'palworld3', 'lol22','kingkong0', 'hangook2', 'chuchuman12']

# 추가적인 실험을 위하여 엘레멘트를 더 추가하시는 것을 추천드립니다.


#netID 추가를 하시고 싶으신 분들을 위하여

for i in range(3):
  new_id = input("추가로 넣을 netID를 적으시오: ")
  netid.append(new_id)
a = set()
b = set()
for i in netid:
  if i not in a:
    a.add(i)
  else:
    b.add(i)
if len(b) >= 3:
  print(b)
  print('penalty')

# Functions

function이란 말 그대로 함수입니다. 좀 더 쉽게 이해를 하려면, 함수는 공장이라고 생각하면 됩니다.

공장에선 특정 일을 반복적으로 합니다. 함수도 똑같이 어떠한 일을 하라고 지어놓으면 그 함수를 부를 때마다 시킨 일을 하게 됩니다.

엥 그러면 함수를 쓰지 않아도 되는 거 아닌가요? 필요할 때마다 그냥 직접 코드를 쓰면 되는 거 아닌가요? 라고 생각이 드신다면 아래의 상황을 생각 해보세요.

당신이 피타고라스의 정리를 이용하여 직각 삼각형의 한 변을 계산하는 프로그램을 만들려고 합니다.

만약 당신이 함수를 쓰지 않는다면, 계산을 할 때마다 새로 공식을 써서 계산을 해야합니다.

하지만 함수를 만들어 놓은 다음 계산이 필요할 때마다 그 함수를 부르기만 하면 된다면 작업이 훨씬 수월하게, 빠르게 진행이 될 겁니다.

함수를 만드는 방법은 아래와 같습니다.

def function_name(function input):

* functionalities
* return something

In [ ]:
def add_two_num(a , b):
  return a + b


num1 = 10
num2 = 5

print(add_two_num(num1, num2))

15

방금과 같이 함수에 인풋들을 파라미터라고 합니다. 하지만 함수에는 파라미터가 없는 함수를 만들 수도 있습니다.

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

함수에는 디폴트 값을 정할 수 있습니다.

In [ ]:
def subtract_numbers(a = 10, b = 5): #이 함수의 경우엔 각 파라미터에 따로 값을 부여하지 않았을 때, a = 10, b = 5의 디폴트 값을 가지게 됩니다.
  return a - b

print(subtract_numbers())
print(subtract_numbers(20, 10))

5
10

In [ ]:
print(subtract_numbers(7))

2

In [ ]:
print(subtract_numbers(7,))
print(subtract_numbers(b = 8))

2
2

## 예제 문제 0.1

아래의 값이 출력할 값을 맞추시오

In [ ]:
# subtract_numbers(subtract_numbers(10, 2), subtract_numbers(10, subtract_numbers(8)))
your_ans = 1

print(your_ans == subtract_numbers(subtract_numbers(10, 2), subtract_numbers(10, subtract_numbers(8))))

True

아래와 같은 함수도 쓸 수 있습니다.

In [ ]:
def list_sum(x):

  # x : input list
  # return : sum of all numbers in the list x

  sums = 0

  for i in x:
      sums = sums + i

  return sums

one_to_five = [1, 2, 3, 4, 5]

list_sum(one_to_five)

15

## 예제 0.2

아래의 팩토리얼을 계산하는 함수를 마무리 해보시오.

In [ ]:
def factorial(x):

  # input: An integer we want the factorial of
  # output: fact = x!
  # example: 4! = 4 * 3 * 2 * 1 = 24

  # HINT : Factorial is the product of all positive integers less than or equal to x
  # Try to store the multiplied value into fact while going through all the numbers


  ### START OF CODE ###
  num = 1
  for i in range(x):
    num = num * (i + 1)

  ### END OF CODE ###
  return num


# Do not modify below!
if factorial(4) != 24:
    print("Wrong answer")

else:
    print("Correct answer!")

24
Correct answer!

### easy 1.

피타고라스의 정리를 이용한 함수를 만들어 보시오. 단, 서로 직각으로 마주치는 두 변의 길이가 주어질 때, 나머지 한 변의 길이를 구하는 함수를 구하시오.

In [ ]:
import numpy as np
def equ(a,b):
  return np.sqrt(a**2 + b**2)

print(equ(3,4))

5.0

### easy 2.
이번엔 빗변과 한 변이 주어졌을 경우, 나머지 한 변의 길이를 구하는 함수를 만들어보시오

In [ ]:
def eq2(a,b):
  if a > b:
    return np.sqrt(a**2 - b**2)
  else:
    return np.sqrt(b**2 - a**2)

print(eq2(2,4))

3.4641016151377544

### 심화

McDonalds is thinking about changing their menu price.

To help our good friend, we created dictionaries containing 'mcdonalds_set_menu' and 'menu_price_change'. With these dictionaries, finish the function 'new_menu'!

In other words, use the integer inside 'menu_price_change' to have according price for each set menu in 'mcdonalds_set_menu'.

In [ ]:
mcdonalds_set_menu = {
    "Set A": {
        "combo": ["Burger", "Soda", "Fries"],
        # Price is in dollars
        "price" : 9.5,
    },

    "Set B": {
        "combo": ["Nuggets", "Onion Ring", "Soda"],
        "price" : 5.7
    },

    "Set C": {
        "combo": ["Ice Cream", "Soda"],
        "price" : 3.3
    },

    "Set D": {
        "combo": ["Onion Ring", "Nuggets", "Fries"],
        "price": 6.0
    },

    "Set E": {
        "combo": ["Burger", "Burger", "Ice Cream", "Ice Cream"],
        "price": 14.4
    }
}

# The integer means change in price (dollars)
menu_price_change = {
    "Burger" : -0.5,
    "Fries" : 0.9,
    "Soda" : 0.1,
    "Ice Cream": 0,
    "Nuggets": 1.3,
    "Onion Ring": -1.0
}

In [ ]:
def new_menu(set_menu, price_change):

  ### YOUR CODE HERE ###

  ### END OF CODE ###

  return round(set_menu["Set A"]["price"], 1), round(set_menu["Set B"]["price"], 1), round(set_menu["Set C"]["price"], 1), round(set_menu["Set D"]["price"], 1), round(set_menu["Set E"]["price"], 1)


setA, setB, setC, setD, setE = new_menu(mcdonalds_set_menu, menu_price_change)

print("Set A: ", setA)
print("Set B: ", setB)
print("Set C: ", setC)
print("Set D: ", setD)
print("Set E: ", setE)