<a href="https://colab.research.google.com/github/Kitagawa-Mariin/HenryPark_Python/blob/Python_Learning/SP24_Python_Learning_3_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#지난 주 복습

* if
* elif
* else
* for
* while

# 복습 예제

그 전에 잠깐!

이제부턴 print(f"") 혹은 print(.format())을 써볼 겁니다

print(f)와 print(.format) 둘다 원하는 값을 출력문 안에 넣을 수 있도록 합니다

예를 들어,

name = hangoo

print(f"My name is {name}") 을 하면 -> My name is hangoo가 출력 되게 됩니다.

똑같이

print("My name is {}".format(name)) 또한 같은 값을 출력하게 됩니다.

In [ ]:
#name 변수와 age, major 변수를 만든 다음 아래와 같이 출력하시오

# 제 이름은 ___ 이며, ___살입니다. 현재 ____ 전공하고 있습니다.

name = 'Henry Park'
age = 21
major = 'bioe'

print(f"제 이름은 {name}이며, {age}살입니다. 현재 {major} 전공하고 있습니다.")

제 이름은 Henry Park이며, 21살입니다. 현재 bioe 전공하고 있습니다.

In [ ]:
# 값 비교하기
a = 5
b = 5

if a > b:
  print(f"{a}이 {b}보다 크다")
elif a < b:
  print("{}이 {}보다 크다".format(a,b))
else:
  print("a와 b 값이 각각", a, ",", b, "로 같다 ")

a와 b 값이 각각 5 , 5 로 같다

In [ ]:
# for loop으로 숫자 써보기

for i in range(1, 10): #range 함수를 써서 1부터 20 - 1까지 범위를 정해준다.
  if i % 2 == 0:
    print(i, "는 짝수입니다")
  else:
    print(i, "는 홀수입니다")

1 는 홀수입니다
2 는 짝수입니다
3 는 홀수입니다
4 는 짝수입니다
5 는 홀수입니다
6 는 짝수입니다
7 는 홀수입니다
8 는 짝수입니다
9 는 홀수입니다

In [ ]:
# while loop으로 숫자 써보기

i = 1
while i < 20:
  if i % 2 == 0:
    print(i, "는 짝수입니다")
  else:
    print(i, "는 홀수입니다")
  i += 1 # counter = counter + 1 와 동일

1 는 홀수입니다
2 는 짝수입니다
3 는 홀수입니다
4 는 짝수입니다
5 는 홀수입니다
6 는 짝수입니다
7 는 홀수입니다
8 는 짝수입니다
9 는 홀수입니다
10 는 짝수입니다
11 는 홀수입니다
12 는 짝수입니다
13 는 홀수입니다
14 는 짝수입니다
15 는 홀수입니다
16 는 짝수입니다
17 는 홀수입니다
18 는 짝수입니다
19 는 홀수입니다

#조건에 따라 반복문 중단하기

* loop를 계속 돌다가 멈추고 싶은 점을 지정 시킬 수 있다.

In [ ]:
a = 10
b = 1
while True:
  if a == b:
    print("")
    print("if 조건문에 들어왔습니다")
    print("a= ", a)
    print("b= ", b)
    break

  b += 1
  print("b= ", b)
  print("b를 1 증가시키고 루프를 다시 돌립니다")

b=  2
b를 1 증가시키고 루프를 다시 돌립니다
b=  3
b를 1 증가시키고 루프를 다시 돌립니다
b=  4
b를 1 증가시키고 루프를 다시 돌립니다
b=  5
b를 1 증가시키고 루프를 다시 돌립니다
b=  6
b를 1 증가시키고 루프를 다시 돌립니다
b=  7
b를 1 증가시키고 루프를 다시 돌립니다
b=  8
b를 1 증가시키고 루프를 다시 돌립니다
b=  9
b를 1 증가시키고 루프를 다시 돌립니다
b=  10
b를 1 증가시키고 루프를 다시 돌립니다

if 조건문에 들어왔습니다
a=  10
b=  10

# 리스트

* 이전까지 a, b란 varaible들을 각각 initialized해줬어야했다.
* Variable들을 묶음으로 보관하여 더 손쉽게 유저들이 데이터에 접근 할 수 있게 도와주는 자료형

* 사물함이라 생각하면 편하다. 내가 원하는 곳에 원하는 값을 저장할 수 있도록 해줍니다. (첫 번째 칸엔 바지를, 그 다음엔 상의를, 그 다음엔 아우터를 등등)

In [ ]:
a = [1,2,3,4] #same variable types

b = [1, "apple", True, 2.45] # able to store various variable types

c = ["apple", "banana", "tomato", "durian"]

#empty list
d = []

print(type(a))
print(type(b))
print(type(c))
print(type(d))

print(type(b[0]))
print(type(b[1]))
print(type(b[2]))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'int'>
<class 'str'>
<class 'bool'>

list에 몇개의 element가 저장되어있는 지 확인하는 커멘드

In [ ]:
print(len(a))
print(len(b))
print(len(c))
print(len(d))

4
4
4
0

list 안에 저장 되어있는 데이터 access하는 법

In [ ]:
print(b[0])
print(b[1])
print(b[2])
print(b[3])

print(" ")

for i in range(len(b)):
  print(b[i])

1
apple
True
2.45

1
apple
True
2.45

In [ ]:
# 마이너스를 사용하여 access 할 수 있다
print(b[-1])
print(b[len(b) - 1])

2.45
2.45

인덱스를 사용하여 리스트 활용

<br>list[starting index : ending index : step]

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

print(a[3:])

print(a[:6])

# 리스트 안에 있는 element들을 원하는 간격맏 건너 뛰면서 수 access 할 수 있습니다
print(a[0:10:2])

# 리스트 안에 있는 element들의 순서를 뒤집을 수 있습니다
print(a[::-1])

[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

리스트 안에 리스트를 넣을 수 있습니다

In [ ]:
multi_list = [[1,2],[3,4],[5,6]]
print(multi_list[0])
print(multi_list[0][0])
print(multi_list[0][1])
print(multi_list[1])
print(multi_list[1][0])
print(multi_list[1][1])
print(multi_list[2])
print(multi_list[2][0])
print(multi_list[2][1])

[1, 2]
1
2
[3, 4]
3
4
[5, 6]
5
6

List Comprehension

In [ ]:
a = [1,2,3,4,5,6]

b = a

c = [a[i] for i in range(len(a))]

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

"in"을 사용하여 리스트 안에 특정 element가 있나 확인 할 수 있습니다

In [ ]:
grocery = ['apple', 'banana','kiwi']

#1
if 'apple' in grocery:
  print("Yes")
else:
  print("No")

#2

if 'pineapple' not in grocery:
    print("Yes")
else:
    print("No")

Yes
Yes

리스트 변경하기

In [ ]:
# 두 리스트를 붙이기
print(a + b)

print(a * 2)

print(a * 0)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
[]

인덱스를 활용하여 원하는 리스트 안에 있는 element를 바꿀 수 있습니다.

또, 리스트 맨 마지막에 데이터를 추가하고 싶으시면 append 함수를 써서 추가하실 수 있습니다.

반대로 리스트에서 특정 값을 지우고 싶으실 때는 remove를 쓰시면 됩니다.

In [ ]:
CS_course = []

# 'cs125', 'cs173', 'cs225' 를 CS_course 리스트에 넣는 법
CS_course.append('cs125')
CS_course.append('cs173')
CS_course.append('cs225')

print(CS_course)

# cs125를 기존 리스트에서 빼고 'cs125', 'cs128'을 추가하기
CS_course.remove('cs125')
CS_course = ['cs124', 'cs128'] + CS_course

print(CS_course)

# 리스트의 마지막 element를 지우고 싶을땐 pop을 사용한다
last_element = CS_course.pop()
print("Removed element:", last_element)
print("Modified CS_course:", CS_course)

['cs125', 'cs173', 'cs225']
['cs124', 'cs128', 'cs173', 'cs225']
Removed element: cs225
Modified CS_course: ['cs124', 'cs128', 'cs173']

Split 사용법

split은 원하는 delimiter를 사용하여 문자열을 나누는 것입니다.

예를 들어 "나는.강한구.이.다"를 split(".") 할 경우 ['나는','강한구','이','다']로 나뉘게 된다

In [ ]:
sentence = "Hello my name is John I am UIUC student"
words = sentence.split()
print(words)

['Hello', 'my', 'name', 'is', 'John', 'I', 'am', 'UIUC', 'student']

Count를 사용하여 중복된 element들의 갯수 세기

In [ ]:
#count함수를 사용하여 1이 리스트 안에 몇개가 들어가 있는지 셀 수 있다
a = [1,1,1,1,1,2,3,2,2,2,3,5,6,8,8,71,1,54,1,3,1]

print(a.count(1))

8

sort(), reverse()

정렬 함수인 sort은 리스트의 값들을 증가하는 방향으로 정렬해준다.

또 리서브 함수는 리스트의 값들을 역순으로 만들어준다.

In [ ]:
a = [1,8,4,2,5,7,9,2,3,54,7,1,73]
a.sort()
print(a)

a.reverse()
print(a)

#둘 다 같이 사용하기
a = [1,8,4,2,5,7,9,2,3,54,7,1,73]
a.sort(reverse=True)
print(a)

[1, 1, 2, 2, 3, 4, 5, 7, 7, 8, 9, 54, 73]
[73, 54, 9, 8, 7, 7, 5, 4, 3, 2, 2, 1, 1]
[73, 54, 9, 8, 7, 7, 5, 4, 3, 2, 2, 1, 1]

마지막으로 루프를 쓸 때, 리스트 같은 경우엔 리스트 안의 모든 element들을 돌려주세요 라고 할 수 있습니다.

for i in list_name:

을 하실 경우에, 리스트에 있는 모든 데이터를 순차적으로 사용하며 루프를 돕니다.

In [ ]:
sample_list = [1,2,3,4,5,6,7,8,9,10]

for i in sample_list:
  print(i)


#즉

for i in range(len(sample_list)):
  print(sample_list[i])

#와 동일한 기능을 한다.

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

# 튜플

리스트와 비슷한 자료형
* 다른점:
  한 번 initialized가 되면 변경이 불가하다
  
  즉 tuple은 immutable 하고, list은 mutable하다

* 튜플은 지정석과 같다 -> 한 번 지정 된 좌석은 변경 불가한 것과 같이, 튜플은 생성 후, 그 안의 데이터들을 바꾸지 못 한다.


example tuple usage

tuple = (1,2,3)

In [ ]:
test_list = [1,2,3,4,5] #리스트
test_tuple = (1,2,3,4,5) #튜플

print(type(test_list))
print(type(test_tuple))

<class 'list'>
<class 'tuple'>

In [ ]:
#리스트와 비슷하게 인덱스로 element들을 접근 할 수 있습니다.
print("test_list의 0th index element",test_list[0])
print("test_tuple 0th index element",test_tuple[0])

#len() 함수
print("test_list의 길이",len(test_list))
print("test_tuple의 길이",len(test_tuple))

test_list[0] = 1 #리스트 안에 0th 인덱스에 있는 값을 1로 변경
test_tuple[0] = 1 #튜플 안에 0th 인덱스에 있는 값을 1로 변경

test_list의 0th index element 1
test_tuple 0th index element 1
test_list의 길이 5
test_tuple의 길이 5

TypeError: 'tuple' object does not support item assignment

String은 파이썬에서 리스트의 형태를 가지고 있다. 따라서 string에도 리스트의 함수들이나, 루프를 쓸 수 있다.

In [ ]:
word = 'Hi my name is Hangoo Kang'

word2 = word[::-1]
print(f"word2 = {word2}")

word3 = word[0:5]
print(f"word3 = {word3}")

for i in word:
  print(i)

word2 = gnaK oognaH si eman ym iH
word3 = Hi my
H
i

m
y

n
a
m
e

i
s

H
a
n
g
o
o

K
a
n
g

# Problems

리스트 안에 있는 숫자 중 maximum 값과 minimum 값을 각각 프린트 하여라

In [ ]:
nums = [4, 7, 2, 9, 1, 6]
nums.sort()
print(nums[len(nums)-1])
x = nums[0]

nums.reverse()
print(nums[len(nums)-1])

9
1

이번엔 리스트에서 3번째로 큰 값을 구해보시오

In [ ]:
nums2 = [4, 7, 2, 9, 1, 6,9,0]
nums2.sort()
nums2.reverse()
print(nums2[2])

7

사용자가 입력한 숫자들 중 짝수, 홀수 구분하여 리스트 형태로 저장하여 출력하시오.

In [ ]:
list2 = [3,4,8,5,6,4] #원하는 숫자들을 넣으시오
even = []
odd = []
for i in list2:
  if i % 2 == 0:
    even.append(i)
  elif i % 2 == 1:
    odd.append(i)
print(f'even list {even}')
print(f'odd list {odd}')

even list [4, 8, 6, 4]
odd list [3, 5]

당신은 또 다시 유능한 학교 선생님! 하지만 학생들의 성적 상태가 이상하다!!!

물증을 위하여 학생들의 성적 평균을 구하려고 한다.

당신의 코드 테스트를 위하여 임의로 5개의 성적을 만든 다음, 평균을 구하려고 한다.

만약 평균이 80점을 넘어갈 경우 "시험이 너무 쉬웠던 것 같으니 재시험을 치도록 하겠습니다."를 출력하시고,

만약 평균이 80점 미만일 경우 "시험 평균이 80점도 안 됐기 때문에, 80점이 될 수 있도록 커브를 드리겠습니다."를 출력 후

평균을 80으로 맞춘 후, 각각의 점수가 80이 맞는지 확인 해보시오

힌트 -> 리스트를 사용하시오

In [ ]:
grades = []
total = 0
for i in range(5):
  grades.append(int(input('성적: ')))
for i in grades:
  total += i
mean = total/len(grades)
diff = 80 - mean
if mean > 80:
  print('시험이 너무 쉬웠던 것 같으니 재시험을 치도록 하겠습니다.')
elif mean < 80:
  print('시험 평균이 80점도 안 됐기 때문에, 80점이 될 수 있도록 커브를 드리겠습니다.')
  for i in range(len(grades)):
    grades[i] += diff
    print(i)
print(grades)
print()
#print(grades)
#print(total)
#print(average)

성적: 65
성적: 60
성적: 70
성적: 80
성적: 90
시험 평균이 80점도 안 됐기 때문에, 80점이 될 수 있도록 커브를 드리겠습니다.
0
1
2
3
4
[72.0, 67.0, 77.0, 87.0, 97.0]
73.0

아래의 문제를 풀어보시오

 Write a for loop such that:

 For each elements in the list list_example,

 If the element is divisible by 6, divide the element by 6

 Else if the element is divisible by 3, divide the element by 3 and then add 4

 Else if the element is divisible by 2, subtract 10.

 Else, square the element.

In [ ]:
# Write a for loop such that:
# For each elements in the list list_example,
# If the element is divisible by 6, divide the element by 6
# Else if the element is divisible by 3, divide the element by 3 and then add 4
# Else if the element is divisible by 2, subtract 10.
# Else, square the element.

# TODO: Make the cell return 'True'.

l = [3, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

# YOUR CODE HERE #
for i in range(len(l)):
  if l[i] % 6 == 0:
    l[i] = l[i] / 6
  elif l[i] % 3 == 0:
    l[i] = l[i] / 3 + 4
  elif l[i] % 2 == 0:
    l[i] = l[i] - 10
  else: l[i] = l[i]**2

# END OF CODE #

# Do not modify below
l = [int(i) for i in l]
l == [5, 25, 0, 9, 10, 625, 5, 1225, 30, 19, 40]

True

주어진 리스트에서 두 번째 자리 값고 세 번째 자리 값을 바꿔보시오

In [ ]:
list1 = [1,2,3,4]

# YOUR CODE HERE #
second = list1[1]
third = list1[2]
list1[1] = third
list1[2] = second

# END OF CODE #

print(list1)

[1, 3, 2, 4]